#page {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: auto auto auto auto; */
    gap: .3em;
    min-height: fit-content;
    grid-template-areas: 
        'head'
        'nav'
        'main'
        'footer';
    background-color: #1E1D3B;

    font-family: 'PT Sans Narrow', sans-serif;
    color: #1E1D3B;
}

#page>* {
    justify-content: center;
    align-items: center;
    background-color: #EFF9F0;
    border-style: solid;
    border-color: #660000;
    margin: 1%;
}

img[class='mainphoto'] {
    max-width: 100%;
    min-width: 100%;
    padding: none;
}

#header {
    grid-area: head;
    font-family: 'Bungee', cursive;
    text-align: center;
    text-decoration: underline overline;
    text-decoration-thickness: 10%;
    padding-left: auto;
    padding-top: 1%;
}

#navigation {
    grid-area: nav;
    text-align: center;
    font-size: 100%;
}

a {
    font-weight: 700;
    text-decoration: none;
    color: #F95738;
}

#article {
    grid-area: main;
}

article>h3 {
    padding-left: 1%;
}

article>p {
    padding-left: 3%;
    padding-right: 3%;
}

#footer {
    grid-area: footer;
    font-size: 85%;
    text-align: center;
    padding-bottom: 5%;
}

/* Tablet Display */
@media screen and (min-width: 640px) {
    #page {
        /* display: grid; */
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto auto;
        min-height: unset;
        grid-template-areas: 
        'head head'
        'nav main' 
        'footer main';
    
    }

    /* #navigation {
        height: fit-content;
    }

    #footer {
        height: auto;
    } */
}

/* Desktop Display */
@media screen and (min-width: 1100px) {
    #page {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        'head head'
        'nav main'
        'main main'
        'footer footer';
    
    }
}