<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>{{ context.class_name }}</h1>
    <p><a href="{{context.repo}}">Class repository</a></p>
    <p>Start date: {{context.start_date}} </p>
    <p>Graduation date: {{context.grad_date}} </p>
    <ul>
        {% for person in context.people %}
        <li>
            <a href="{{person.name}}">
                {{ person.name }} ({{ person.role }})
            </a>
        </li>
        {% endfor %}
    </ul>

    {% for num in range(1, 21) %}
    {% if num in context.lucky_numbers %}
    <span class="lucky">{{num}}</span>
    {% else %}
    <span>{{context.triple(num)}}</span>
    {% endif%}
    {% endfor %}

</body>

</html>