<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'grocery_list/style.css' %}">
    
    <title>Grocery List</title>
</head>
<body>
    <div id="list-display">
        {% if grocery_list %}
            <h2>My grocery list:</h2>
            <ul class="full-list">
            {% for item in grocery_list %}
                <li>{{ item.text_description }}</li>
                <div class="item-conditions">
                    <p class="detail">added {{item.create_date}}</p>
                    {% if item.complete == False %}
                    <form action="{% url 'complete' item.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Retrieved"/>
                    </form>
                    {% else %}
                    <p class="detail">completed {{item.complete_date}}</p>
                    {% endif %}
                </div>
            {% endfor %}
            </ul>
        {% else %}
        <p>Nothing on the grocery list.</p>
        {% endif %}
    </div>
    <div id="list-add">
        <h3>Add item:</h3>
        <form action="add_item/" method="post">
            {% csrf_token %}
            <input type="text" name="new-item" placeholder="New Item"/>
            <input type="submit" value="Add"/>
        </form>
    </div>
</body>
</html>