<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
</head>
<body>
    <h3> url form</h3>
    <form action="shorten/" method="post">
        <input type="text" name="full-url-entry" placeholder="Enter URL here">
        <input type="submit" value="Submit"/>
    </form>
    <div class="most-recent-output">
    <p> Your short url is: (placeholder)</p>
    </div>
    <div class="test-field">
        {% for url in urls %}
            {{ url.short_url }}
        {% endfor %}
    </div>
</body>
</html>