<!-- Lab05 Flask Form from Pytho Lab 01.2 -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Number Conversion</title>
</head>
<body>
    <form action="/" method="post">
        <div>
            <label for="enter-number">Enter a Number 0-999: </label>
            <input type="text" name="enter-number">
        </div>
            <input type="submit" value="convert-number">
    </form>
    <div>
        {{phrase}}
    </div>
</body>
</html>
