/* Lab03 Blog css setup */

.item {
    order: 5;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    align-items: center;
}

body {
    font-family: 'Lora', serif;

}


header {
    font-size: large;
    text-align: center;
}

#top {
    background-color: rgb(159, 235, 235);
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


main {

}


#bottom {
    background-color: rgb(159, 235, 235);
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}