<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
</head>
<body>
    <div>
        <form action="/todo/" method="post">
            <div>
                <label for="task">Task: </label>
                <input type="text" name="task">
            </div>
            <div>
                <label for="priority">Priority: </label>
                <select name="priority" id="priority">
                    <option value="low">Low</option>
                    <option value="medium">Medium</option>
                    <option value="high">High</option>
                </select>
            </div>
            <input type="submit" value="Submit"/>
        </form>
    </div>
    <div>
        {% for todo in todos %}
        <p>Todo: {{ todo.task }}</p>
        <p>Priority: {{ todo.priority }}</p>
        {% endfor %}
    </div>
</body>
</html>