

<form action='{% url "shortener:submit" %}' method="post">
    {% csrf_token %}
    <strong><label for="long_url">Submit URL: </label></strong>
    <input type="text" name="long_url" >
    <input type="submit" value="save">
</form>


{% if url_database %}
        <p>Here is your new URL:</p>
        <ul>
            {% for item in url_database %}
            <li><strong>{{item.long_url}}</strong></li>
                <a target= "_blank" href="{{item.long_url}}"> {{item.short_code}}</a>
        {%endfor %}
    {% else %}
    <p>You have no new URLs!</p>
{%endif%}
