<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@2"></script> 
    <link rel="stylesheet" href="css/site.css" />
    <script src="js/site.js" defer></script>
    <script src="https://unpkg.com/vue@2"></script>
    <title>Todo list!</title>
</head>
<body>

    <div id="app">
        <h1>{{ message }}</h1>
      
        <ul id="task-button">
            <input type="text" v-model="inputText" v-on:keyup.enter="logInput" > 
            <button @click="logInput" type="submit">Add a new task!</button>
        </ul>

        <div class="wrapper">
        <p id="task-list">Here are your tasks:</p>
        
        <li v-for="t in todoList" v-bind:key="t.task">
            <span>
                {{t.task}}
            </span>
            <button id="completed-button" @click='toggleDone(t)' class="button">completed</button>
        </li>
        
        <p>Completed Tasks:</p>
        <ul>
            <li id='completed-list' style="text-decoration: line-through;" v-for="t in completedList">
                <span>{{t.task}}</span>
            </li>
        </ul>
        <br>
        </div>
    </div>
   


</body>
</html>