


<form action='{% url "grocerylist:add" %}' method="post">
    {% csrf_token %}
    <label for="add_item">Add Item: </label>
    <input type="text" name="add_item" >
    <input type="submit" value="save">
</form>



{% if latest_list %}
        <p>Here is your list:</p>
        <ul>
            {% for item in latest_list %}
            {% if item['purchased_item'] == True: %}
                <li><strong>{{item.item_description}}</strong>, added on: {{item.created_date}}</li>

            {% else %}
                <li><strong>{{item.item_description}}</strong>, added on: {{item.created_date}}</li>
                <form action='{% url "grocerylist:add" %}' method="post">
                <button class="purchased" type="submit">Done!</button>
            </form>
        
            {% endif %}
            {% endfor %}
        </ul>
    {%else%}
    <p>There's nothing on the list!</p>
{%endif%}

<!-- #add button instead, pass the itme id in with url in a form -->

