


<form action='{% url "grocerylist:add" %}' method="post">
    {% csrf_token %}
    <label for="add_item">Add Item: </label>
    <input type="text" name="add_item" >
    <input type="submit" value="save">
</form>





{% if item in latest_list %}
        <p>Here is your list:</p>
        <ul>
            {% for item in latest_list%}
            <!-- took out href do each itme is not a link, only a list -->
                
                <li><strong><input type="checkbox" name="done" id="done">{{item.item_description}}</strong>, added on: {{item.created_date}}</li>

            {% endfor %}
        </ul>
    {%else%}
    <p>There's nothing on the list!</p>
{%endif%}

<!-- #add button instead, pass the itme id in with url in a form -->
