<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Picker</title>
</head>

<!-- my editor doesn't like it, but it does work! -->
<!-- <body style="background-color: {{color}};"> -->

<body>
    <p>Current color: {{ color }}</p>
    <form action="/color/" method="post">
        <input type="color" name="my-color" value="{{color}}">
        <button type="submit">pick this color!</button>
    </form>
</body>

</html>