html {
    background-color: #242c25;
}

#app {
    background-color: #e1e6e2;
    font-family: sans-serif;
    color: #310f0f;
    margin: auto;
    padding: 1em;
    border: 1px solid #310f0f;
    border-radius: 3px;
    max-width: 700px;
    min-width: 330px;

    filter: drop-shadow(400px 400px 4px #839689) drop-shadow(-400px -400px 4px #839689);
}

.studentCards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

.studentdetails {
    display: grid;
    grid-template-areas: 
    'info delete'
    'edit edit';
    width: 300px;
}

.name {
    font-weight: 800;
}

.info {
    grid-area: info;
}

.delete {
    grid-area: delete;
    text-align: right;
}

.edit {
    grid-area: edit;
}

fieldset>div {
    margin: 0.5em;
}