/* setting up here, just until I make my own repo */

#portiat {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 2em;
}
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #C3DAC3;
    background-image: linear-gradient(#C3DAC3, white);
 
}

.name-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    line-height: 5%;
    padding-top: 2em;
    padding-bottom: 3em;
}

#name {
    font-size: 2em;
}
#title {
    font-size: 1.2em;
}

 .site-main {
    align-items: center;
    font-size: 1em;
    padding: 2em;
    line-height: 2em;
    border: 2px solid rgba(128, 128, 128, 0.247);
    border-radius: 2%;
    box-shadow: 5px 5px 5px rgba(167, 186, 192, 0.598);
 }

 .contact-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2em;
    padding-top: 4em;
    justify-content: space-around;
}

#github,
#linkdin-link {
    font-size: 3em;
}

#github:hover {
    animation: fa-flip 2s infinite linear;
}
#linkdin-link:hover { 
    animation: fa-flip 2s infinite linear;
}

#email:hover {
    animation: fa-beat 2s infinite;
}




@media screen and (min-width: 700px) {
    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

    .site-main {
        display: flex;
        align-items: center;
    }



@media screen and (min-width: 1000px) {
    #portiat {
        width: 250px;
        height: 250px;
    }

    #name {
        font-size: 3em;
    }
    #title {
        font-size: 2em;
    }

    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

    }

    .site-main {
        font-size: 25px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 1000px;
    }

    #email {
        font-size: 1.5em;
     }
    
    #github, 
    #linkedin {
        font-size: 4em;
    }

    .contact-info {
        display: flex;
        flex-direction: row;
        padding: 2em;
        padding-top: 4em;
        justify-content: space-evenly;
    }
    
}