<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/site.css" />
    <script src="https://unpkg.com/vue@2"></script>
    <script src="secrets.js"></script>
    <script src="js/site.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

    <title>Pollen Air</title>
</head>
<body>
    <div id="app">
        <h3>{{message}}</h3>
        
        <!-- <input type="text" v-model="userAddress" v-on:keyup.enter="onChange()"> -->

        <input type="text" v-model="userAddress" @keyup.enter="getLocation">
   

            <!-- {{googleResult}} -->
                <h5>latitude: {{googleResult.lat}}</h5>
                <h5>longitude: {{googleResult.lng}}</h5>


        <div id="days-button">
            <label for="days" >Choose a date range:</label>

            <select name="days" id="days" v-bind:value="daysString">
            <option value="1">today's forecast</option>
            <option value="2"> 2 day forecast</option>
            <option value="3"> 3 day forecast</option>
            </select>

        <button id="submit-button" class="btn btn-info btn-lg" @click="getForcast">Get Weather</button>
        </div>

        {{output}}
        <br>
        <li v-for='(s, indx) in output.metadata' >{{s}}</li>
      



  
    </div>


</body>
</html>